 .header{
    display: flex;
    justify-content: space-between;
    border: 2px ;
    border-bottom: 2px solid rgb(143, 140, 140);
    
}
 
.logo{
    
    margin-left: 20px;
    border-radius: 50%;
    width:100px;
}

.navItems{
    padding:0px 20px;
}
.navItems>ul{
    font-size: 24px;
    display: flex;
    
    list-style-type: none;
}
 
.navItems>ul>li{
    margin:10px;
    padding: 10px;
}

.search{
    padding:10px;
}

.restro-container{
    display: flex;
    flex-wrap:wrap;
    
}
.res-card{
    padding:5px;
    width:200px;
    margin:10px;
    border:1px solid black;
}

.res-logo{
    
    width:100%;
}

.filter-btn{
    margin:10px;
    cursor: pointer;
}

.shimmer-container{
    display: flex;
    flex-wrap: wrap;
}
.shimmer-card{
    width:200px;
    height:400px;
    margin:20px;
    background-color: rgb(179, 179, 179);
    border-radius: 3%;
}

.filter{
    display: flex;
} 
 @import "tailwindcss";